

/* root  */
:root {
  --primary: #134d71;
  --secondary: #78a7c6;
  --third: #f7e4bf;
  --light: #ffffff;
  --dark: #000000;
  --font-family: 'Quicksand', sans-serif;
}

/* body */
body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(var(--primary), var(--secondary), var(--third)); */
}

.body-blue-to-yellow-bg {
    background: linear-gradient(var(--primary), var(--secondary), var(--third));
}

.body-pacific-dream-bg {
  background: linear-gradient(#34e89e, #0f3443)
}

.body-sunset-bg {
background-image: linear-gradient(#4158D0, #C850C0, #FFCC70);

}

h1 {
  color: var(--light)
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.title {
  color: white;
}

.box-container {
  background: white;
  height: 20vh;
  width: 80vw;
  -webkit-border-radius: 12px;
   display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form {
  width: inherit;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

label {
  font-style: italic;
}

button {
  color: white;
  background-color: var(--primary);
  height: 5vh;
  width: 13vw;
  -webkit-border-radius: 10px;
}
/* footer */
footer {
  background: white;
  height: 30vh;
  width: 60vw;
  -webkit-border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: relative;
  display: block;
  cursor: pointer;
  height: 9vh;
  font-size: 2.7vh;
  font-family: var(--font-family);
  background: none;
}

img {
  height: 50%;
  width: 50%;
}

.hidden {
  display: none;
}

/* media sizing */
@media (min-width: 750px) {
  .box-container {
    width: 60vw;
  }

  footer {
    width: 70vw;
  }

  .receive-message {
    width: 40vw;
  }
}

@media (min-width: 1000px) {
  .box-container {
    width: 37vw;
  }

  footer {
    width: 60vw;
  }

  .receive-message {
    width: 13vw;
  }
}

p {
  animation: effect 3s linear;
}

@keyframes effect {
  0% {
      color: white;
  }

  100% {
      color: black;
  }
}

svg {
  animation: spin 1s linear infinite;
  opacity: 70%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button:hover {
  background-color: var(--secondary);
  transition: .2s ease-in-out 0s;
  transform: scale(1.25);
}
