/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

:root {
  --primary: #134d71;
  --secondary: #78a7c6;
  --third: #f7e4bf;
  --light: #ffffff;
  --dark: #000000;
  --gradient: var(--primary), var(secondary), var(--third);
  --font-family: 'Quicksand', sans-serif;
}

* {
  border: 10px, solid black;
}

body {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(var(--primary), var(--secondary), var(--third));
}


h1 {
  color: var(--light)
}

main {

}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
}

.box-container {
  background: white;
  height: 20vh;
  width: 37vw;
  -webkit-border-radius: 12px;
   display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

ol {
  width: inherit;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

li {

}

input {

}

label {

}

button {
  color: white;
  background-color: var(--primary);
  height: 5vh;
  width: 13vw;
  -webkit-border-radius: 10px;
  border: none;
}

footer {
  background: white;
  height: 30vh;
  width: 60vw;
  -webkit-border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {

}

img {
  height: 50%;
  width: 50%;
}

.hidden {
  display: none;
}
